.bubble{
    background-color: #CB0F0F;
    width: 1rem;
    height: 1rem; 
    border-radius: 1rem; 
    display: flex; 
    justify-content: center; 
    align-content: center; 
    position: absolute; 
    margin-top: -0.8rem;
}